<div class="section-bg">
    <div>
        <div class="background-img-scooter">
            <div class="section-text-scooter">
                <div class="container" style="height: 150px;
                padding-top: 30px;">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col">
                            <h4 class="gray" style="width: 90%;">¿Qué esperas para llevarla?</h4>
                            <button style="border-radius: 50px;" type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off">
                                Cómprarla en pepeganga.com
                              </button>
                              <h4 class="gray pt-10" style="width: 90%;">PREVENTA EXCLUSIVO ONLINE</h4>

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>