<div class="section-second-features pt-10">
    <div class="container section-second-features-container">
        <div class="row justify-content-center align-items-center" style="padding-top: 10px;">
            <div class="col align-items-center ">
                <div class="text-center">
                    <h1 style="display: contents;">30</h1 ><h6 style="display: -webkit-inline-box;">Km</h6>
                </div>
                <div class="text-center">
                    <p class="">Bateria de largo alcance</p>
                </div>
                
            </div>
            <div class="border-feature">

            </div>
            <div class="col align-items-center">
                <div class="text-center">
                    <h1 style="display: contents;">3</h1 ><h6 style="display: -webkit-inline-box;">S</h6>
                </div>
                <div class="text-center">
                    <p class="">Innovador diseño plegable</p>
                </div>
            </div>
            <div class="border-feature">

            </div>
            <div class="col align-items-center">
                <div class="text-center">
                    <h1 style="display: contents;">5</h1 ><h6 style="display: -webkit-inline-box;">X</h6>
                </div>
                <div class="text-center">
                    <p class="">Velocidades de paso</p>
                </div>
            </div>
            <div class="border-feature">

            </div>
            <div class="col align-items-center">
                <div class="text-center">
                    <h1 style="display: contents;">Sistema</h1>
                </div>
                <div class="text-center">
                    <p class="">de frenado doble seguridad</p>
                </div>
            </div>
        </div>
    </div>
</div>