<div class="section-images">
    <div class="row">
        <div class="col-xl-8" style="margin-top: 10px; padding-right: 0px;">
            <img class="img-fluid" src="assets/img/links/scooter blanca 4.jpg" style="width: 100%;"/>
        </div>
        <div class="col" style="margin-top: 10px;">
            <img class="img-fluid" src="assets/img/links/100902909_3.png" style="width: 100%; height: 100%;"/>
        </div>

    </div>
    <div class="row ">
        <div class="col-xl-6" style="margin-top: 10px; padding-right: 0px;">
            <img class="img-fluid" src="assets/img/links/_64A2847-2.jpg" style="width: 100%;"/>
            <div class="text-absolute" style="    position: absolute;
            top: 50%;
            left: 80%;
            transform: translate(-50%, -50%);">
                <h5>Diseño minimalista</h5>
                <p>Elementos geométricos
                    uniformes.</p>
                <h5>Comodidad ante todo.</h5>
                <p>
                    Pedal curvado.
                </p>
                <h5>Plegable</h5>
                <p>
                    Palancas realmente
                    sencillas.
                </p>
            </div>
        </div>
        <div class="col-xl-6" style="margin-top: 10px;">
            <img class="img-fluid" src="assets/img/links/_64A0868-3.jpg" style="width: 100%; height: 100%;"/>
        </div>
    </div>

</div>