<div class="section-text-scooter-2" style="background-color: black;position: relative;">
    <div class="container relative" style="height: 150px;
    padding-top: 20px;">
        <div class="row absolute justify-content-center align-items-center">
            <div class="col invisible-div">
                
            </div>
            <div class="col">
                <h5>Botones de encendido/apagado[2]</h5>
                                <p>                                       
                                    Un solo toque para encender. Toque largo para apagar.
                                    Cuando Mi Electric Scooter está encendido, un toque
                                    largo encenderá/apagará las luces. Con un doble toque,
                                    se cambiará entre modos normal y ahorro de energía. 
                                </p>
            </div>
        </div>
    </div>
</div>