<div class="section-play">
    <div class="container">
        <div class="row row-section-play">
            <div class="col-xl-7">
                <img class="img-scooter-div img-fluid" src="assets/img/links/img-div/img-div (1).png" alt=""/>
            </div>
            <div class="col text-center">
                <div class="text-center play" style="height:200px;margin-top: 12px;padding-top: 50px;">
                    <h1 style="display: contents;">Juega ya!</h1>
                    <p>Arma la imagen en el MENOR TIEMPO posible.</p>
                </div>
                <h2 style="color: gray;padding-top: 20px;">Imagen de referencia:</h2>
                <img class="img-fluid" src="assets/img/links/Mi-Electric-Scooter-3 days to.jpg" style="height: 380px;" alt=""/>
            </div>
        </div>
    </div>
</div>