<!--? slider Area Start-->
<div class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container cont-slide">
                <div class="row justify-content-center align-items-center row-slide" style="">
                    <div class="col-xl-6 col-lg-7 col-md-8">
                        <div class="row justify-content-center align-items-center row-slide">
                            <div class="hero__caption">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col">
                                        <h1 class="title" data-animation="fadeInLeft" data-delay=".4s" style="margin-bottom: auto;">Patineta Xiaomi</h1>
                                        <span class="subtitle" data-animation="fadeInLeft" data-delay=".2s">MODELO XIAOMI M365</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row content-slide justify-content-center align-items-center">
                            <div class="col invisiblep">
                                <img class="xiaomi_logo" src="assets/img/hero/xiaomi_logo.png" alt="">
                            </div>
                            <div class=" text-right">
                                <p>
                                    Intuitiva y facil de usar. 30 km, bateria de largo alcance
                                    Sistema de doble frenado. Diseño plegable y portatil.
                                </p>
                            </div>
                        </div>                
                    </div>
                    <div class="col-xl-6">
                        <div class="hero-man" data-animation="jello" data-delay=".4s">
                            <!--delete img
                            -->
                            <div class="row justify-content-center align-items-center">
                                <div class="line-height">

                                </div>
                                <div class="col">
                                    <div class="row" style="border-bottom-style: groove;">
                                        <img class="truck_logo" src="assets/img/logo/truck.png" alt="">
                                        <h6 class="title-second" data-animation="fadeInLeft" data-delay=".4s" style="margin-bottom: auto;">PREVENTA EXCLUSIVO ONLINE</h6>
                                    </div>
                                    
                                    <span class="subtitle-second" data-animation="fadeInLeft" data-delay=".2s">Despacho desde el 20 de enero de 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->