<div class="section-red-dot-award">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ">
                    <div class="single-cat mb-50">
                        
                        <img class="reddot img-fluid" src="assets/img/links/Anotación 2020-01-03 102644.jpg" alt=""/>

                    </div>
                </div>
                <div class="col">
                    <div class="single-cat">
                    
                        <div class="cat-cap">
                            <p>
                                El diseño minimalista, a la vez que moderno, de Mi Electric Scooter ha sido
                                galardonado con el prestigioso premio Red Dot "Lo mejor de lo mejor" y el Premio IF Design
                                2017. El visionario diseño de Mi Electric Scooter inspira y mueve, como te mueve a ti.
                            </p>                                
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>