<div class="section-text-scooter-2">
    <div class="container relative" style="height: 150px;
    padding-top: 30px;">
        <div class="row absolute justify-content-center align-items-center">
            <div class="col invisible-div">
                
            </div>
            <div class="col">
                <p>
                    Funciona tan simple como parece.
                                monopatín, incluso en largos paseos.
                                Cada aspecto de Mi Electric
                                Scooter ha sido diseñado teniendo Aceleración controlada
                                en cuenta su sencillez. El marco Cuesta abajo, ajusta la cantidad de
                                del monopatín, los componentes y presión necesaria hasta que consigas
                                accesorios han sido diseñados una velocidad cómoda.
                                poniendo al usuario y su usabilidad
                                en el centro de todo. Prueba de ello
                                es que tan solo necesitas un botón
                                para poner en movimiento el
                                patinete. Mi Electric Scooter está
                                diseñado para enamo
                </p>
            </div>
        </div>
    </div>
</div>