<div class="section-text">
    <div class="container" style="height: 150px;
    padding-top: 30px;">
        <div class="row">
            <div class="col-xl-8">
                <p>
                    Simplemente, gira hacia abajo la palanca para plegar y verás cómo el timbre del monopatín
                    es atrapado por el cerrojo en la rueda trasera. ¿El resultado? Un diseño compacto y seguro,
                    perfecto para guardar Mi Electric Scooter en casa, en la oficina o en el maletero del coche.
                </p>
            </div>
            <div class="col invisible-div">

            </div>

        </div>
    </div>
</div>