<div class="section-images">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="img-content-1">
                    <img class="img-1 img-fluid" src="assets/img/links/_64A1522-3.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="img-content-2">
                    <img class="img-2 img-fluid" src="assets/img/links/Evaluation Poster-2.jpg" alt=""/>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row justify-content-center align-items-center">
                
                    <div class="col">
                        
                        <div class="img-content-3">
                            <img class="img-3 img-fluid" src="assets/img/links/phone.png" alt=""/>
                        </div>
                        
                    </div>
                   
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="">
                        <h6 class="app-content">¡Andar por la ciudad nunca fue tan cómodo y fácil!</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>