<div class="pt-50 section-bg-scooter">
    <div>
        <div class="background-scooter">
            <div class="row">
                <div class="col">
                    <div class="single-team mb-30">
                        <div class="gray">
                            <p class="invisible-scooter-content">
                                Funciona tan simple como parece.
                                monopatín, incluso en largos paseos.
                                Cada aspecto de Mi Electric
                                Scooter ha sido diseñado teniendo Aceleración controlada
                                en cuenta su sencillez. El marco Cuesta abajo, ajusta la cantidad de
                                del monopatín, los componentes y presión necesaria hasta que consigas
                                accesorios han sido diseñados una velocidad cómoda.
                                poniendo al usuario y su usabilidad
                                en el centro de todo. Prueba de ello
                                es que tan solo necesitas un botón
                                para poner en movimiento el
                                patinete. Mi Electric Scooter está
                                diseñado para enamo
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col" style="margin-left: 16px">
                            <h5 style="color: black;">Manillar antideslizante</h5>
                            <p>
                                Proporciona un gran agarre y control del
                                Funciona tan simple como parece.
                                monopatín, incluso en largos paseos.
                            </p>
                            <h5 style="color: black;"> Aceleración controlada</h5>
                            <p>
                                Cuesta abajo, ajusta la cantidad
                                de presión necesaria hasta que
                                consigas una velocidad cómoda.
                            </p>
                        </div>
                    </div>
                    <div class="row pt-200" style="margin-top: 100px; margin-left: 1px;">
                        <div class="col battery">
                            <h5>Batería en un golpe de vista</h5>
                            <p>
                                4 luces de notificación LED en el
                                panel indican la batería restante.
                            </p>
                            <div class="invisible-scooter-content">
                                <h5>Botones de encendido/apagado[2]</h5>
                                <p>                                       
                                    Un solo toque para encender. Toque largo para apagar.
                                    Cuando Mi Electric Scooter está encendido, un toque
                                    largo encenderá/apagará las luces. Con un doble toque,
                                    se cambiará entre modos normal y ahorro de energía. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>