<app-slide></app-slide>
<app-section-reddot></app-section-reddot>
<app-section-images></app-section-images>
<app-section-features></app-section-features>
<app-section-second-features></app-section-second-features>
<app-section-play></app-section-play>
<app-section-text-scooter></app-section-text-scooter>
<app-section-bg-scooter></app-section-bg-scooter>
<app-section-text-scooter2></app-section-text-scooter2>
<app-section-images2></app-section-images2>
<app-section-text2></app-section-text2>
<app-section-bg-scooter2></app-section-bg-scooter2>
<app-section-carrusell></app-section-carrusell>