<div class="testimonial-area fix pt-220 pb-180 section-bg" data-background="assets/img/links/iStock.jpg" style="background-image: url(assets/img/links/iStock.jpg);margin-top: 130px; height: 810px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-9">
                <div class="h1-testimonial-active">
                
                    <!-- Single Testimonial -->
                    <div *ngFor="let user of dataUsers;"  class="single-testimonial pt-65">
                        <!-- Testimonial tittle -->
                        <div class="testimonial-icon mb-45">
                            <img src="{{user.picture}}" class="ani-btn img-fluid" alt="" style="width: 400px;">
                        </div>
                            <!-- Testimonial Content -->
                        <div class="testimonial-caption text-center">
                            <h1 style="font-size: 4.5rem;
                            border-bottom-style: solid;">Andres Rojas</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <!-- Rattion -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Jquery Slick , Owl-Carousel Plugins -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/slick.min.js"></script>
  <!-- One Page, Animated-HeadLin -->
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/animated.headline.js"></script>
  <script src="assets/js/jquery.magnific-popup.js"></script>

  <!-- Date Picker -->
  <script src="assets/js/gijgo.min.js"></script>
  <!-- Nice-select, sticky -->
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
  
  <!-- counter , waypoint -->
  <script src="assets/js/jquery.counterup.min.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  
  <!-- contact js -->
  <script src="assets/js/contact.js"></script>
  <script src="assets/js/jquery.form.js"></script>
  <script src="assets/js/jquery.validate.min.js"></script>
  <script src="assets/js/mail-script.js"></script>
  <script src="assets/js/jquery.ajaxchimp.min.js"></script>
  
  <!-- Jquery Plugins, main Jquery -->	
  <script src="assets/js/puzzle.js"></script>
  <script src="assets/js/plugins.js"></script>
  <script src="assets/js/main.js"></script>

