<div class="pt-100 section-bg">
    <div>
        <div class="container background-scooter-feature">
            <div class="row">
                <div class="col display" style="padding-top: 161px;
                padding-left: 156px; ">
                    <div class="single-team mb-30" style="padding-left: 20px;">
                        <div class="">
                    
                            <ul class="">
                                <li style="margin-top: 20px;"><h5><i class="fa fa-bolt" aria-hidden="true"></i> Motor 250 W</h5></li>
                                <li style="margin-top: 20px;"><h5><i class="fa fa-battery-full" aria-hidden="true"></i> Carga máxima 120 kg</h5></li>
                                <li style="margin-top: 20px;"><h5><i class="fa fa-clock-o" aria-hidden="true"></i> Velocidad máxima 25 Km/h</h5></li>
                                <li style="margin-top: 20px;"><h5><i class="fa fa-plug" aria-hidden="true"></i> Tiempo de carga completa entre 5-6 horas.</h5></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4" style="margin-top: 30px; margin-right: 100px;align-self: flex-end;">
                    <div class="single-team mb-30">
                        <div class="">
                            <p class="white">Ahora con la Patineta Eléctrica Xiaomi obtentrás trayectos en los que aportas al medio ambiente y a tu bolsillo.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class=" text-center desplegable">
                        <h2 class="invisible-section-feature">Despliega y comienza el viaje</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>