<div class="section-text">
    <div class="container relative" style="height: 150px;
    padding-top: 30px;">
        <div class="row absolute justify-content-center align-items-center">
            <div class="col invisible-div">
                
            </div>
            <div class="col">
                <p>
                    Robusta estructura de aluminio aeroespacial, con
                    baja densidad y gran fuerza estructural. Se
                    caracteriza por una excelente conductividad termal
                    y resistencia a la corrosión, lo que aumenta su
                    durabilidad. Con solo 12,5 kg., Mi Electric Scooter
                    tiene el tamaño y el peso perfectos para
                    transportar y maniobrar en escaleras y suelo.
                </p>
            </div>
        </div>
    </div>
</div>